.basket-content {
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.05); 
}

.basket{
    width: 100%;
    max-height: 250px;
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-style{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.basket-card{
    padding: 10px;
}

.basket-card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.basket-card-body-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.basket-summary{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
}

.basket-summary p ,strong{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.order-button{
    width: 250px;
    height: 40px;
    background-color: orange;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

.order-button:hover{
    background-color: orange;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.ordered{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 24px;
    text-align: center;
}

.mobile-basket-bar {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: orange;
    border-top: 1px solid #ccc;
    border-radius: 25px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-weight: bold;
    z-index: 999;
    cursor: pointer;
}

.mobile-basket-content {
    display: none;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)), url('../assets/img/pasta.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    z-index: 998;
    height: 100vh;
    overflow-y: auto;
}


@media (max-width: 1000px) {
    .basket-content {
        display: none;
    } 
    .mobile-basket-bar {
        display: block;
    }

    .mobile-basket-content {
        display: block;

    }
    
    .mobile-basket-content.open {
        bottom: 0px;
    }
}